API_ID='25305140' 
API_HASH='6d19044c96341ccb3da294f878df7659' 
BOT_TOKEN='7911960556:AAEegqvvVWDZE24sW0BLKJcFkYEJxJYVxoo' 
LOGGER_ID='-1002661702011' 
MONGO_DB_URI='mongodb+srv://DSTWARRIORDB:DSTMONGODB@dstdb.y4cayps.mongodb.net/?retryWrites=true&w=majority&appName=Dstdb' 
OWNER_ID='7187126565' 
STRING_SESSION='BQGCIDQAGlvetVjIBZ44XgEI5mUphjDfIn6eHBkhcH_R9pN4g3VsGR5IJFla63bkRvipJSWGkXMRhpmR3ce3f6fwy5Blv5uPfL6uxnfaV8kl3cywOUJlQHtmwReZSpraQfn9ksYzGI7kFR5HQAd9n9LPCIEPEewF_1IsANZUz621rkx0aeq9YRy4hLHJZhZCT5d6m1NRVks2pC-OJscSARVApYU9LhKnj3euo1eFa7zaCelJU9zi2C89QF4TB1ExJmk8HdiPZ5ZNcJww4Jz0CkHk_utE_exstLfYI2O-V_VxyeDDimEWP-T-SfGKmw4WsogDQzsB0Xnvk4gd7Yn14oY8XXkH9AAAAAGsYtklAA' 

